<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!selectedItem">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Item Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
 <div *ngIf="selectedItem" class="selection">
    <b>{{selectedItem.title}}</b>
    <ion-icon name="{{selectedItem.icon}}"></ion-icon>
    <div>
      You navigated here from <b>{{selectedItem.title}}</b>
    </div>
  </div>
  <ion-item>
    <ion-icon name="logo-twitter" item-left></ion-icon>
    Followers
    <ion-badge item-right>260k</ion-badge>
  </ion-item>

  <ion-card>

    <ion-card-header>
      Hello Ionic
    </ion-card-header>

    <ion-card-content>
      This is a test card for Ionic tutorial
    </ion-card-content>

  </ion-card>
</ion-content>
